/**
* www.rewardit.co.nf
* common css styles
*
* @ author Pieter Vercruyce
*/

* {
	text-decoration: none;
	table-layout: fixed;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

ul {
	padding: 0;
	list-style-type: none;
}

#nav {
	background-image: url(../img/driehoekMenu.jpg);
	background-repeat: no-repeat;
	padding-top: 55px;
	padding-left: 15px;
	width: 200px;
	float: left;
	margin: 0;
}

#nav > li > a {
	color: rgb(50, 50, 50);
}